@import '../../assets/mixins/mixins';

.slide {
  display: flex;

  .left {
    @include rootFlexColumn;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    background: #F4EFE9;
    flex: 0 1 35%;

    .logo {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    .buy {
      @include rootFlexColumn;
      justify-content: center;
    }

    .title {
      font-weight: 700;
      font-size: 38px;
      line-height: 1.2;

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      span {
        color: #8BB43C;
      }
    }

  }

  .kermit {
    flex: 1 1 65%;
    background-image: url("kermit.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}