@import '../../assets/mixins/mixins';

.slide {
  display: flex;

  .left {
    @include rootFlexColumn;
    padding: 20px;
    flex: 1 1 35%;
    background: #F4EFE9;
    border-radius: 20px 0 0 20px;

    .logo {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    .buy {
      @include rootFlexColumn;
      justify-content: center;
    }

    .title {
      font-weight: 700;
      font-size: 38px;
      line-height: 1.2;

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      span {
        color: #8BB43C;
      }
    }
  }

  .kermit {
    flex: 1 1 65%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}